{% extends 'main/base.html' %}

{% block title %}SMX{% endblock title%}

{% block content %}

{% load static %}

<!--pembuka -->

   {% include "main/navbar.html" %}
  <!--logo smx-->
   
  <div class="container-fluid mb-3"
  style="background-image: url('{{bg_depan_judul.content}}');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;">

  <div class="container ">
      <div class="row vh-100">
          <div class="col-12 col-md-5 my-auto  bg-white bg-opacity-50 py-3 pe-3 rounded-3">
              <!-- <div class="position-absolute top-50 start-0 translate-middle-y"> -->
                  <h1 class="display-4">Selamat Datang</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laborum, repellat?</p>    
              <!-- </div> -->
              <!-- <button class="btn btn-primary">Tombol 1</button> -->
              <!-- <button class="btn btn-secondary">Tombol 2</button> -->
          </div>
      </div>
      
  </div>

  <div class="container" id="project">
    <div class="row h-100">
        <h1 class="display-1 mb-3 text-center">Projects</h1>
        {% for project in projects %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="position-relative mb-3">
                        <img src="{{project.image.url}}" alt="" class="card-img-top">
                        <div class="position-absolute bottom-0 end-0">
                            <button class="btn btn-primary m-2">Detail</button>
                        </div>
                    </div>
                    <div></div>
                    <div class="card-title mb-3">{{ project.title }}</div>
                    <div class="card-text">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </div>
        </div>          
        {% endfor %} 
    </div>
  </div>

  
  <div class="container" id="program">
    <div class="row h-100">
        <h1 class="display-1 mb-3 text-center">Program</h1>
        {% for program in programs %}  
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="position-relative mb-3">
                        <img src="{{ program.thumbnail.url }}" alt="" class="card-img-top">
                        <div class="position-absolute bottom-0 end-0">
                            <button class="btn btn-primary m-2">Detail</button>
                        </div>
                    </div>
                    <div></div>
                    <div class="card-title mb-3">{{ program.title }}</div>
                    <div class="card-text">
                        <p>{{ program.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

    <div class="container" id="event">
      <div class="row h-100">
          <h1 class="display-1 mb-3 text-center">Events</h1>
          <div class="col-12 col-md-6 mb-3">
              <div class="card">
                  <div class="card-body">
                      <div class="position-relative mb-3">
                          <img src="{{ upcoming_events.image.url}}" alt="" class="card-img-top">
                          <div class="position-absolute bottom-0 end-0">
                              <button class="btn btn-primary m-2">Detail</button>
                          </div>
                      </div>
                      <div></div>
                      <div class="card-title mb-3">{{ upcoming_events.title }}</div>
                      <div class="card-text">
                          <p>{{ upcoming_events.description }}</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6">
                
            <div class="row">
              {% for event in events %}
                <div class="col-12 col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="position-relative mb-3">
                                <img src="{{ event.image.url }}" alt="" class="card-img-top">
                                <div class="position-absolute bottom-0 end-0">
                                    <button class="btn btn-primary m-2">Detail</button>
                                </div>
                            </div>
                            <div></div>
                            <div class="card-title mb-3">{{ event.title }}</div>
                            <div class="card-text">
                                <p>{{ event.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div> 

{% endblock content %}

