{% extends 'main/base.html' %}

{% block title %}SMX{% endblock title%}

{% block content %}

{% load static %}

<!--pembuka -->
<div class="container-fluid">
   {% include "main/navbar.html" %}
  <!--logo smx-->
  <div class="row" 
    style="background-image: url('{{ bg_header.content }}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;">
  


    <div class="position-relative">
      <div class="position-absolute top-50 start-50 translate-middle text-center">

        <img src='{% static "main/img/logo_smx.png" %}' alt="logo smx" class="col-12 col-md-8 col-lg-6">
        
        <h1 class="text-light">
          
          {% if header_title.content %}

            {{ header_title.content }}

          {% else %}

            Join us to see more amazing projects

          {% endif %}
          
        </h1>

      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row vh-100">
    <div class="col my-auto">
      <h1 class="text-center center-dark">Come visit us at the school of makers</h1>
    </div>
    <div class="col my-auto">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.5677318576836!2d106.82170957465866!3d-6.576108893417323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c7b53f042fe3%3A0xedd50d0ef554596d!2sSMX%20School%20of%20Maker!5e0!3m2!1sid!2sid!4v1694522819329!5m2!1sid!2sid" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
<!--project-->
<div class="container-fluid">
  <div class="row" 
    style="background-image: url('{{ bg_header2.content }}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;">

    <div class="col my-auto">
        <h1 class="text-center text-white">Student Projects</h1>
        <div class="col-8 p-2 bg-white bg-opacity-50 rounded-3 m-auto">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="col my-auto">

      <div class="row">

        {% for project in projects %}

            <div class="col-6 p-2 rounded-3">

               <div class="card bg-white bg-opacity-75">
                  <div class="card-body">
                     <div class="card-body">
                        <img class="" height="100" src="{{project.image.url}}" alt="">
                     </div>
                     <div class="card-title">
                        <h3 class="text-center">{{project.title}}</h3>
                     </div>
                     <div class="card-text">
                        <p class="">{{project.description|truncatewords:"10"}}</p>
                     </div>
                  </div>
                  <div class="text-center">
                     
                    </div>
      
                    

                    
               </div>

              
            </div>
            
        {% endfor %}
         
        <div class="text-center">
            <a class="btn btn-sm btn-primary" href="{% url 'project_page' %}">see more . . .</a>
        </div>
        
      
      </div>
    </div>
</div>
<!--products-->
<div class="container-fluid">

   <div class="row" 
   style="background-image: url('{{ bg_header3.content }}');
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           height: 100vh;">
   
      <div class="col-8 m-auto">

         <h1 class="text-center text-white">our products</h1>

         <div class="row">
            
            {% for product in products %}

               <div class="col-3 mb-2">
                  <img class="img-fluid rounded-5 border border-dark" src="{{ product.image.url }}" alt="">
               </div>

            {% endfor %}

            <div class="row">
              <div class="col text-center">
                <a href="" class="btn btn-primary">see more . . .</a>
              </div>
            </div>

         </div>

      </div>

   </div>

</div>

<div class="container-fluid">

    <div class="row" 
    style="background-image: url('{{ bg_header4.content }}');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;">

        <div class="col-8 m-auto">

            <div class="row">
                <h1 class="text-center text-white">Future Events</h1>
            </div>

            <div class="row">

                <div class="col-5 mx-auto">

                    {% for event in events %}
 
                        {% if forloop.counter|divisibleby:2 %}
                    
                            <div class="row">
                                <div class="col-6 mb-2" style="background-image: url('{{ event.image.url }}');
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: cover;">
                                </div>
                                <div class="col-6 mb-2 bg-white">
                                    <p>{{ event.description|truncatewords:"10" }}</p>
                                </div>
                            </div>
                    
                        {% else %}
                    
                            <div class="row">
                                <div class="col-6 mb-2 bg-white">
                                    <p>{{ event.description|truncatewords:"10" }}</p>
                                </div>
                                <div class="col-6 mb-2" style="background-image: url('{{ event.image.url }}');
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            background-size: cover;">
                                </div>                                
                            </div>    
                    
                        {% endif %}
                    
                    {% endfor %}
                    
                </div>

                

            </div>
            
        </div>
</div>
{% endblock content %}

