{% extends 'main/base.html' %}

{% block title %}SMX{% endblock title%}

{% block content %}

{% load static %}


<div class="container-fluid">
  <!--logo smx-->
  <div class="row">
    {% include "main/navbar.html" %}
  </div>

</div>

<div class="container-fluid mt-5">
    <div class="row"
    style="background-image: url('https://petapixel.com/assets/uploads/2022/12/what-is-unsplash.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 15vh;">
        <div class="col d-flex">
            <h1 class="text-center my-auto mx-auto">apa ja</h1>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        {% for project in projects %}
        <div class="col-3 mb-2">
            <div class="card" style="width: 29rem;">
                <img src="{{project.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">{{project.title}}</h5>
                  <p class="card-text">{{project.description|truncatewords:"15"}}
                    <a style="text-decoration: none;" href="{% url 'project_detail' project.id %}">. . .</a>
                  </p>
                  
                  <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}